/* Estilos para o chat */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.info {
    width: 758.10px;
    left: 8.90px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.description {
    width: 758.10px;
    left: 0px;
    top: 206px;
    position: absolute;
    color: black;
    font-size: 35px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.chat {
    left: 331px;
    top: 211px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.options {
    width: 754px;
    height: 308px;
    left: 0px;
    top: 1041px;
    position: absolute;
}

.option {
    width: 292px;
    height: 77px;
    left: 29px;
    top: 32px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.logo {
    width: 864px;
    height: 383px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.blue {
    color: #009FE3;
    font-size: 55px;
    font-family: Krona One;
    font-weight: 400;
    word-wrap: break-word;
}

.black {
    color: black;
    font-size: 55px;
    font-family: Krona One;
    font-weight: 400;
    word-wrap: break-word;
}
