*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 767px) {
    header {
        width: 767px;
        height: 186px;
        background-color: #D9D9D9;
        position: relative;
        text-align: center;
        font-size: 30px;

    }
    #logo {
        width: 144px;
        height: 184px;
        float: left;
    }
    #Diganoscar {
        position: absolute;
        top: 50%; 
        left: 50%;
        margin-top: -50px; 
        margin-left: -72px; 
        padding: 10px;
    }
    .black {
        color: black;
    }
    .blue {
        color: #009FE3; 
    }

    .form-section {
        display: flex;
        flex-direction: column; /* Para empilhar os elementos verticalmente */
        justify-content: center; /* Alinha os elementos verticalmente */
        align-items: center; /* Alinha os elementos horizontalmente */
        height: 75vh; /* Define a altura como 100% da altura da viewport */
    }

    .form-section label {
        margin-bottom: 10px; /* Adiciona uma margem inferior de 10px entre os labels */
    }


    #txtNome{
        width: 300px;
        
    }

    section input[type="text"],
    section input[type="email"] {
        width: auto; 
        padding: 10px; 
        margin-bottom: 10px;
        border: 2px solid #CCCCCC; 
        border-radius: 5px; 
        background-color: #F0F0F0;
        font-size: 16px; 
        justify-content: center;
    }
    section input[type="date"] {
        width: auto; 
        padding: 10px; 
        margin-bottom: 10px; 
        border: 2px solid #CCCCCC; 
        border-radius: 5px; 
        background-color: #F0F0F0; 
        font-size: 16px; 
        justify-content: center;
    }



    #botao {
        width: 150px;
        height: 75px;
        border-radius: 60px;
        border: 5px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: 20px auto 10px; 
        display: block;
    }
    #botao:hover {
        background: #0077B6;
    }


    footer{
        width: 768px;
        height: 80px;
        flex-shrink: 0;
        background-color: #D9D9D9;
        text-align: center;
        font-size: large;
    }
}